$headerFont: 'Julius Sans One', sans-serif;
$fontColor: #dfdfdf;
@import url('animations/animations.css');
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Open Sans', serif;
  height: 100vh;
  min-height: 550px;
}
#content {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-image: url('../photos/climbingFrontPage2.jpg');
  background-repeat:no-repeat;
  background-attachment:relative;
  background-position:center;
  background-size: cover;
  position: relative;
  nav {
    position: relative;
    height: 90px;
    width:99%;
    background-color: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    // -webkit-box-shadow: 0px 3px 16px -2px rgba(0,0,0,0.72);
    // -moz-box-shadow: 0px 3px 16px -2px rgba(0,0,0,0.72);
    // box-shadow: 0px 3px 16px -2px rgba(0,0,0,0.72);
    a {
      float:right;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 1%;
      font: {
        size: 1.35em;
        family: $headerFont;
      }
      text-decoration: none;
      color: $fontColor;
      height: 70%;
      &:hover {
        text-decoration: underline;
        color:white;
      }
    }
  }
}
.contentDiv {
  position: absolute;
  width: 55%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  min-height: 350px;
  overflow-y: scroll;
}
#homeDiv {
  margin-top: 125px;
  height: auto;
  h1 {
    text-align: center;
    margin-top: 45px;
    font-size: 3em;
    color: $fontColor;
    font-family: $headerFont;
  }
  #logo {
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width:150px;
  }
}
#aboutDiv {
  h2{
    color:$fontColor;
    display: inline-block;
    font-size: 2em;
    font-family: $headerFont;
  }
  hr {
    margin-top: -20px;
  }
  p {
    color: $fontColor;
    clear:both;
    font-size: 1.5em;
  }
  .locations {
    width: 30%;
    display: inline-block;
    text-align: center;
    a {
      font-family: $headerFont;
      color: $fontColor;
      font-size: 1.5em;
      &:hover {
        opacity: .55;
      }
    }
  }
  #locationInfo {
    width: 100%;
    clear: left;
    div {
      width: 100%;
      text-align: center;
      h2 {
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
        font-family: $headerFont;
      }
    }
    p {
      width: 100%;
    }
    img {
      clear:both;
      width:100%;
      border-radius: 5px;
    }
  }
}
#climbsDiv {
  h2{
    color:$fontColor;
    display: inline-block;
    font-size: 2em;
    font-family: $headerFont;
  }
  hr {
    margin-top: -20px;
  }
  p {
    color: $fontColor;
    clear:both;
    font-size: 1.5em;
  }
  #selectors {
    width: 100%;
  }
  form {
    color: $fontColor;
    font-size: 1.5em;
  }
  #tableDiv {
    width: 100%;
    position: absolute;
    table {
      width: 99%;
      border: 1px solid $fontColor;
      tr {
        th{
          text-align: left;
          color: $fontColor;
          font-size: 1.5em;
          border: 1px solid $fontColor;
          border-collapse: collapse;
          text-align: center;
        }
        .name {
          width: 40%;
        }
        .grade {
          width: 20%;
        }
        .subGrade {
          width: 20%;
        }
        .location {
          width: 20%;
        }
        td {
          color: $fontColor;
          font-size: 1.35em;
          border: 1px solid $fontColor;
          border-collapse: collapse;
          text-align: center;
        }
      }
    }
  }
}

#contactDiv {
  h2{
    color:$fontColor;
    display: inline-block;
    font-size: 2em;
    font-family: $headerFont;
  }
  hr {
    margin-top: -20px;
  }
  #climberDiv {
    position: absolute;
    width: 150px;
    top:125px;
    right: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    #climber {
      width: 150px;
    }
  }
  div {
    position: absolute;
    width: 205px;
    top:300px;
    right: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
      a{
        img {
          padding-left: 30px;
          padding-right: 0px;
          width:auto;
          float:left;
          height:30px;
          text-align: center;
          &:hover {
            opacity:0.65;
        }
      }
    }
  }
}
#footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 10px;
  p {
    color:$fontColor;
    font-size: 1em;
    position: absolute;
    right:1.5%;
    top: 10%;
  }
}

.logoHeader {
width: 100px;
position: absolute;
right: 0px;
top:13px;
}

@media (max-width:800px) {
  .contentDiv {
    width: 75%;
  }
}
@media (max-width:600px) {
  #content {
    nav {
      a {
        padding-left: 8px;
        padding-right: 8px;
        font: {
          size: 1.4em;
          family: $headerFont;
        }
        &:hover {
          text-decoration: underline;
          color:white;
        }
      }
    }
  }
  .contentDiv {
    width: 90%;
  }

}
